<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weltreise Krissi & Ben</title>
    <link rel="shortcut icon" type="image/png" href="<%= image_path('abwesend.png') %>"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGc-ihKE3fkEMCgFdsRDWGSloLC1DXz2g&language=de"></script>

    <%= inline_css "site" %>
    <%= javascript_include_tag "site" %>

    <meta property="og:url" content="https://weltreise.abwesend.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:title" content="Weltreise Krissi & Ben" />
    <meta property="og:description" content="Verfolgt unseren Reisefeed und seht wo wir gerade sind" />
    <meta property="og:image" content="https://weltreise.abwesend.com/images/sharing.jpg" />
    <meta property="og:image:width" content= "1091" />
    <meta property="og:image:height" content= "573" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wiraufweltreise">
    <meta name="twitter:title" content="Weltreise Krissi & Ben">
    <meta name="twitter:description" content="Verfolgt unseren Reisefeed und seht wo wir gerade sind">
    <meta name="twitter:image" content="<%= image_path('sharing.jpg') %>">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
